// 변수 처리

// site width
$siteWidth: 1320px;

// text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;


// 색상정의
// background color
$layoutBg: #ffffff;
$tableBg: #87CEEB;
$footerBg: #e9e9e9;

// font color
$fontColorBasic: #000000;
$fontColorPrimary: #666666;
$fontColorHover: #e3a936;

// border color
$borderColorPrimary: #87CEEB;
$borderColor1: #997939;

// button color
$gbtnColor: #87CEEB;
$btnColorHover: #e3a936;

// header
$headerHeight: 60px;
